---
layout: splash
author_profile: false
title: "Welcome! "
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image:
    small: /assets/images/PortfolioReel_GIF_LowRes.gif
    medium: 
    large: 
excerpt: |
  I'm Thomas, a game system designer residing in Sweden and studying at Futuregames, Stockholm.
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
feature_row1:
  - image_path: /assets/images/Summit_Sprint_Icon.png
    alt: "Summit Sprint"
    title: "Summit Sprint"
    excerpt: "Summit Sprint, an original touch input climbing game developed in Unity."
    url: "summitsprint"
    btn_label: "Read More"
    btn_class: "btn--info"
---
{% if page.image %} <img class="caption__media" data-interchange=" {% for image in page.image %}[{{site.baseurl}}/asset/image/{{image[1]}} ({{image[0]}})] {% unless forloop.last %}, {% endunless %} {% endfor %} ">{% endif %}
{% include video id="y6gd_lNtfis?autoplay=1&mute=1&loop=1" provider="youtube" %}
{% include feature_row id="feature_row1" type="left" %}
